<template>
	<link rel="stylesheet" type="text/css" href="./css/ChemDoodleWeb.css">
	<script src="./js/ChemDoodleWeb.js"></script>
	<canvas id='molViewer'></canvas>
</template>

<script>
	export default {
		name: 'viewer3D',
		props: {
			xyzFile: {type : String};
		},
		computed: {
			let molViewer = new ChemDoodle.TransformCanvas3D('molViewer', 600, 600);
			molViewer.styles.set3DRepresentation('Ball and Stick');
			molViewer.styles.backgroundColor = 'black';
			let molecule = ChemDoodle.readXYZ(xyzFile);
			molViewer.loadMolecule(molecule);
		}
	}
</script>