<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>TraSo - Trajectory Software</title>

    <!-- Required Stylesheets -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="./css/ChemDoodleWeb.css">
    <link rel="stylesheet" type="text/css" href="./css/sexy.css">

    <!-- Required scripts -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/ChemDoodleWeb.js"></script>
  </head>
  <body>
    <!-- Our application root element -->
    <div id="app">
      
      <div id="cabeza">
        <div id="banner">
          <div id="maxi-logo">
            <img height="125px" src="./img/traso2.png">
          </div>
          <div id="titulo">
            <h1 class="banner-title">TraSo</h1>
            <p id="subtitulo">Trajectory Software</p>
          </div>  
        </div>
        <hr>
        <nav id="nav" class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand brand" href="#">
            <img class="mini-logo" height="50px" src="./img/traso5.png">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#barra-resp" aria-controls="barra-resp" aria-expanded="false" aria-label="Navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="barra-resp">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Launch Calculation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Check Progress</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Analyze Results</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <div id="criptobarra" v-if="stickyNav">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand brand" href="#">
            <img class="mini-logo" height="50px" src="./img/traso5.png">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#barra-resp" aria-controls="barra-resp" aria-expanded="false" aria-label="Navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="barra-resp">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Launch Calculation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Check Progress</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Analyze Results</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <div class="segmento" id="cuerpo">
        <div class="launch">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMOL" aria-expanded="true" aria-controls="collapseMOL">
                  <p><b>Step 1</b> - Upload your molecule</p>
                </button>
              </h2>
              <div id="collapseMOL" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="container">
                    <div class="row align-items-center">
                      <div class="col-md-6 col-sm-12">
                        <h3 class="explain">Molecule</h3>
                        <p class="explain">Please upload your molecule in XYZ format for TraSo to use its coordinates in the simulation. Make sure that the XYZ format follows the guidelines suggested in the following <a href="https://open-babel.readthedocs.io/en/latest/FileFormats/XYZ_cartesian_coordinates_format.html">document</a>.</p>
                      </div>
                      <div class="col-md-6 col-sm-12">
                        <form>
                          <div class="mb-3">
                            <input class="form-control" type="file" id="molname" v-on:change="loadXYZ" accept=".xyz" :disabled="molloaded"/>
                          </div>
                        </form>
                        <div>
                          <viewer-3d v-if="molloaded" :xyzFile="xyzContent"></viewer-3d>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <p><b>Step 2</b> - Select the level of theory and basis set</p>
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="container">
                    <div class="row align-items-center">
                      <div class="col-md-6 col-sm-12">
                        <h3 class="explain">QM Theory</h3>
                        <p class="explain">Now, it's time to select the level of theory. Please note that the software to be used is either <a href="https://sites.google.com/site/orcainputlibrary/home">Orca</a>, <a href="https://github.com/merzlab/QUICK">QUICK</a> or <a href="http://www.petachem.com/index.html">TeraChem</a>, and you will have access to all of their functionals and basis sets. For a more detailed explanation of them, please refer to the <span title="You will need a free account in the Orca Forum to get access to the manual."><a href="https://orcaforum.kofo.mpg.de/app.php/dlext/?cat=1">Orca manual</a></span>, <a href="https://quick-docs.readthedocs.io/en/latest/contents.html">QUICK documentation</a> or <a href="http://www.petachem.com/doc/userguide.pdf">TeraChem user's guide</a>. Some of the functionals and basis sets are suggested here, but you will be able to enter another one by typing it in the box under the dropdown menus.
                        </p>
                        <p class="explain">Tip: a common combination would be <i>Orca</i>, <i>B3LYP</i> and <i>6-31G**</i>.</p>
                        <p class="explain">If you don't see any selection tools in this steps, please check that your molecule was loaded in <b>Step 1</b>.</p>
                      </div>
                      <div class="col-md-6 col-sm-12">
                        <div v-if="molloaded">
                          
                          <form>
                            <div class="row">
                              <div class="col-md-4 col-sm-12">
                                <b class="qmSel">Software</b>
                                <select class="form-select qmSel" aria-label="Select software" v-model="qmSoft" :disabled="qmSet">
                                  <option v-for="qmsof in qmProps.software">{{qmsof}}</option>
                                </select>
                              </div>
                              <div class="col-md-4 col-sm-12">
                                <b class="qmSel">Functional</b>
                                <select class="form-select qmSel" aria-label="Select functional" v-model="qmTheory" :disabled="qmSet">
                                  <option v-for="qmfun in qmProps.functionals">{{qmfun}}</option>
                                </select>
                                <input type="text" class="form-control qmSel" name="func" v-model="qmTheory" :disabled="qmSet">
                              </div>
                              <div class="col-md-4 col-sm-12">
                                <b class="qmSel">Basis Set</b>
                                <select class="form-select qmSel" aria-label="Select basis set" v-model="qmBasis" :disabled="qmSet">
                                  <option v-for="qmbas in qmProps.basis">{{qmbas}}</option>
                                </select>
                                <input type="text" class="form-control qmSel" name="basi" v-model="qmBasis" :disabled="qmSet">
                              </div>
                            </div>

                            <button type="button" class="btn btn-success lockButton" v-on:click="lockQM">Save options</button>
                          </form>
                          <div class="alert alert-danger" v-if="qmEnter">
                            <span>You didn't enter a software package, functional and/or basis set!</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <p><b>Step 3</b> - Select the number of steps and trajectories</p>
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="container">
                    <div class="row align-items-center">
                      <div class="col-md-6 col-sm-12">
                        <h3 class="explain">Trajectories</h3>
                        <p class="explain">Next, select the duration of each step, the number of steps for each molecule, and the number of trajectories (simulations for the same molecule) for the Monte Carlo sampling. The Molecular Dynamics propagation will be processed by <a href="http://www.ks.uiuc.edu/Research/namd/">NAMD</a>.</p>
                      </div>
                      <div class="col-md-6 col-sm-12">
                        <div class="mdSel" v-if="molloaded && qmSet">
                          
                          <form>
                            <div class="row">
                              <div class="col-md-4 col-sm-12">
                                <b class="qmSel">Time Step</b>
                                <input type="number" class="form-control qmSel" min="0.1" max="2.0" step="0.1" v-model="mdTStep" :disabled="mdSet">
                              </div>
                              <div class="col-md-4 col-sm-12">
                                <b class="qmSel">Steps</b>
                                <input type="number" class="form-control qmSel" min="100" max="1000" step="100" v-model="mdSteps" :disabled="mdSet">
                              </div>
                              <div class="col-md-4 col-sm-12">
                                <b class="qmSel">Trajectories</b>
                                <input type="number" class="form-control qmSel" min="100" max="2000" step="100" v-model="mdTrajs" :disabled="mdSet">
                              </div>
                            </div>
                            <div class="alert alert-info" role="alert">
                              <b>Simulated time:</b>
                              <span class="qmSel">{{mdTStep * mdSteps}} fs</span>
                            </div>
                            <button type="button" class="btn btn-success lockButton" v-on:click="lockMD">Save options</button>
                          </form>

                          <div class="alert alert-danger" v-if="mdEnter">
                            <span>You didn't enter a the time-step, the steps or the trajectories correctly!</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  <p><b>Step 4</b> - Results</p>
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="container">
                    <div class="row align-items-center">
                      <div class="col-md-6 col-sm-12">
                        <h3 class="explain">About you?</h3>
                        <p class="explain">Finally, we need little personal data so we can send you the results.</p>
                      </div>
                      <div class="col-md-6 col-sm-12">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        
        <div class="check">b</div>
        <div class="analyze">c</div>
        <div class="about">d</div>
        <div class="contact">z</div>
      </div>

    </div>
    <!-- Where the action happens -->
    <script type="module" src="./js/action.js"></script>
  </body>
</html>