/*
//
// ChemDoodle Web Components 9.5.0
//
// https://web.chemdoodle.com
//
// Copyright 2009-2023 iChemLabs, LLC.  All rights reserved.
//
// The ChemDoodle Web Components library is licensed under version 3
// of the GNU GENERAL PUBLIC LICENSE.
//
// You may redistribute it and/or modify it under the terms of the
// GNU General Public License as published by the Free Software Foundation,
// either version 3 of the License, or (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see http://www.gnu.org/licenses/.
//
// Please contact iChemLabs https://www.ichemlabs.com/contact-us for
// alternate licensing options.
//
*/
canvas.ChemDoodleWebComponent {
	border: 1px solid black;
}

.stoichiometry_table{
    table-layout: fixed;
    border-spacing: 0px;
    border-collapse: collapse;
    margin: 20px;
    width: 1%;
    table-layout: auto !important;
}
.stoichiometry_table th, .stoichiometry_table td{
    border: 1px solid black;
    font-family: 'Times New Roman', serif;
    color: black;
    margin:0px;
    width: auto !important;
    white-space: nowrap;
    padding-left:10px !important;
    padding-right:10px !important;
}
