h1 {
	font-size: 2.5em;
}
#cabeza {
	background: linear-gradient(90deg, rgba(237,237,237,1) 0%, rgba(252,252,252,1) 10%, rgba(252,252,252,1) 90%, rgba(237,237,237,1) 100%);
	color: black;
	padding-left: 10%;
	padding-right: 10%;
}
#banner {
	background-size: cover;
	height: 150px;
	width: 100%;
	display: table-row;
}
#maxi-logo {
	display: table-cell;
	vertical-align: middle;
}

#titulo {
	display: table-cell;
	vertical-align: middle;
	padding-top: 1em;
}
#maxi-logo img {
	height: 125px;
}

#subtitulo {
	font-size: 1.3rem;
}

hr {
	padding: 0;
	margin: 0;
	border-top: 1px solid white;
	position: absolute;
	width: 80%
}

.mini-logo {
	height: 40px;
}

#criptobarra {
	background: linear-gradient(90deg, rgba(237,237,237,1) 0%, rgba(252,252,252,1) 10%, rgba(252,252,252,1) 90%, rgba(237,237,237,1) 100%);
	box-shadow: 0px 0px 8px 0px #000;
	width: 100%;
	color: black;
	padding-left: 10%;
	padding-right: 10%;
	justify-content: space-between;
	position: fixed;
	z-index: 200;
	top: 0;
}
.segmento {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 1em;
	padding-bottom: 1em;
}
.launch {
	background-color: rgb(255,255,255);
	text-align: center;
	color: black;
	height: 100%;
	padding-top: 2em;
	padding-bottom: 2em;
}
.explain {
	text-align: justify;
}
.qmSel {
	text-align: left;
	margin: 5px;
}
.smallError {
	padding-top: 1em;
	padding-bottom: 1em;
}
.smallError p {
	font-size: 0.75em;
	color: darkred;
}
.lockButton {
	margin-top: 1em;
	margin-bottom: 1em;
}
.alert {
	margin-bottom: 1em;
}

@media only screen and (min-width: 992px) {
	#descripcion {
		position: relative;
	}

	#descripcion .card-body {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
	}
}